/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

/* ------- Global ------- */
html {
    background-color: #efd9c1;
    font-size: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    background-color: #efd9c1;
    margin: 0 auto;
}

h1 {
  font-size: 2em;
  border-bottom: thin solid rgba(0, 0, 0, .8);
}

p {
    padding: 2px 3px;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
}

a:link {
    color: #808f85;
    font-weight: bold;
}

/* visited link */
a:visited {
    color: #808f85;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #808f85;
}

ul {
    list-style-type: none;
}

figure {
  display: inline-block;
}

figcaption {
  font-style: italic;
  text-align: center;
}

.wrap-all {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #efd9c1;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* ------- Region: Head ------- */
.region-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.region-header a {
    text-decoration: none;
}

.site-logo {
    display: none;
}

.site-logo-text a {
    display: flex;
    align-items: center;
    font-size: 2em;
}

.my-navbar {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    font-size: 1em;
}

.my-navbar > li {
    margin: 5px;
    padding: 5px;
}

.region-header-col-3 {
    display: none;
}

.region-flash img {
    width: 100%;
}

/* ------- Region: Content ------- */
.inner-wrap-main .row {
    display: flex;
    max-width: 1900px;
    margin: 0 auto;
}

.wrap-sidebar {
    padding: 20px;
    max-width: 460px;
}

.region-main {
    max-width: 70%;
    margin: 0 auto;
}

.next-previous {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/* ------- Region: Byline ------- */
.author-byline {
    border: thin solid rgba(0, 0, 0, 0.8);
    overflow: auto;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.author-byline figure {
    margin: 10px 10px;
}

/* ------- theRegion: Footer ------- */
.region-footer {
    margin-top: 20px;
    padding: 20px 0 5px;
    background-color: #808f85;
    color: white;
}

.footer-column-wrapper {
    display: flex;
    padding-bottom: 20px;
    margin: 0 auto 10px;
    border-bottom: thin dotted white;
}

.footer-column-wrapper .footer-column {
    margin: 0 15px;
}

.footer-column {
    width: 33%;
    float: left;
}

.site-footer {
    text-align: center;
    background-color: #808f85;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.site-footer a {
    color: white;
}

.site-footer h2 {
    font-size: 80%;
}
