/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */


/**
 * General layout
 */
.inner-wrap {
    max-width: 800px;
    margin: 0 auto;
    background-color: lightblue;
    overflow: auto;
}

.site-logo {
  display: none;
}

/**
 * Main and sidebars layout
 */
.inner-wrap-main {
    //.clearfix();
    overflow: auto;
}

.region-main,
.region-sidebar-left,
.region-sidebar-right {
    //background-color: green;
    overflow: auto;
}

.region-main {
    width: 70%;
    margin-left: 10%;
    float: left;
    overflow: auto;

    &.has-sidebar {
        margin-left: 0;
    }

    &.has-sidebar-left.has-sidebar-right {
        width: 60%;
    }
}

.region-sidebar-left,
.region-sidebar-right {
    width: 30%;
    float: left;
}

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    width: 20%;
}



 /**
  * Footer layouter
  */

.footer-column {
    width: 33%;
    float: left;
}
