/**
 * Layout using vgrid
 */

/**
 * Variables
 */



/**
 * General layout
 */

.row {
    #desinax-vgrid.row();
    margin-bottom: 16px;
}

.inner-wrap {
    #desinax-vgrid.grid(1100px);
}

.site-logo {
    display: none;
}

.vgrid .inner-wrap {
    @gridImage: "../img/grid_24x30x10-nomargin.png";
    //@gridImage: "../../img/grid_12x60x20-nomargin.png";
    #desinax-vgrid.showGrid(@gridImage, 1100px);

    &.inner-wrap-header,
    &.inner-wrap-footer {
        #desinax-vgrid.showGrid(@gridImage);
    }
}



/**
 * Header layout
 */
.outer-wrap-header {
    //background: #9f9;
    //.clearfix();
}

.inner-wrap-header {
    #desinax-vgrid.grid(100%);
}

.region-header-col-1,
.region-header-col-3 {
    #desinax-vgrid.column(5);
}

.region-header-col-2 {
    #desinax-vgrid.column(14);
    text-align: center;
}

.region-flash {
    #desinax-vgrid.column(@columns);
}

.region-breadcrumb {
    #desinax-vgrid.column(@columns);
}

.rm-desktop li a,
.rm-desktop li a:hover {
    background-color: #efd9c1;
}



/**
* Main and sidebars layout
*/
.region-main { // default stance one column
    #desinax-vgrid.column(@columns * 3 / 4);
    #desinax-vgrid.push(3);

    &.has-sidebar { // adapt if sidebar exist
        #desinax-vgrid.push(0);
    }

    &.has-sidebar-right { // adapt if sidebar to the right, main column decrease by one
        #desinax-vgrid.column(@columns * 3 / 4 - 1);
    }

    &.has-sidebar-left.has-sidebar { // adapt if sidebar to the right, main column decrease by one
        #desinax-vgrid.column(@columns * 3 / 4 - 1);
        #desinax-vgrid.push(1);
    }

    &.has-sidebar-left.has-sidebar-right { // 3-col middle grid and position
        #desinax-vgrid.column(@columns * 3 / 4 - 6);
        #desinax-vgrid.push(1);
    }
}

.region-sidebar-left,
.region-sidebar-right {
    #desinax-vgrid.column(@columns * 1 / 4); // 6 columns
}

.region-sidebar-right {
    #desinax-vgrid.push(1);

    &.has-sidebar-left.has-sidebar-right.has-sidebar {
        #desinax-vgrid.push(1);
    }
}

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    #desinax-vgrid.column(@columns * 1 / 4 - 1);
}



/**
* Byline layout
*/
.author-byline {
    border: thin solid rgba(0, 0, 0, 0.8);
    #desinax-vgrid.column(@columns);

    figure {
        #desinax-vgrid.column(@columns * 1 / 6);
        padding-left: 1em;
        padding-right: 1em;
    }

    p {
        #desinax-vgrid.column(@columns * 3 / 4);
    }
}



/**
 * Footer layout
 */
.footer-column {
    #desinax-vgrid.column(@columns / 3 - 1);
    #desinax-vgrid.push(1);

    h6 {
        color: #ddd;
    }
}

.site-footer {
    #desinax-vgrid.column(@columns);
    text-align: center;
}

.outer-wrap-footer,
.inner-wrap-footer {
    background-color: #808f85;

    a {
        color: #ddd;
    }
}

.footer-column-wrapper {
    display: flex;
    border-bottom: thin dotted #ddd;
    text-align: center;
}
